{% extends 'transactions/layout.html' %}
{% load django_bootstrap5 %}

{% block title %}Редактирование транзакции{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Редактирование: {{ transaction.date }} | {{ transaction.amount }} ₽</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <a href="{% url 'index' %}" class="btn btn-secondary me-md-2">Отмена</a>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}